[Unit]
Description=Deep Archive Verify (%i)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/frozone.env
WorkingDirectory=/opt/frozone
ExecStart=/usr/bin/op run --env-file=/opt/frozone/config/%i.env -- /opt/frozone/scripts/verify.sh %i
